<!DOCTYPE html>
<html>
<head>
    <title>D3/C3.js</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="logo">
    </div>
    <div class="w3-display-middle">
        <div class="w3-center w3-button">
            <a href="/d3-graph" class="w3-button">D3.js</a>
            <a href="/c3-graph" class="w3-button">C3.js</a>
        </div>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
    </div>
</div>

</body>
</html>
